<footer class="component-page-footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="../about/">About</a> &bull;
            <a href="../contact/">Contact</a> &bull;
            <a href="../privacy/">Privacy Policy</a> &bull;
            <a href="../terms/">Terms and Conditions</a> &bull;
            <a href="../help/">Help</a> &bull;
            <a href="../FAQ/">FAQ</a>
        </div>
    </div>
    <p class="footer-copyright">&copy; 2023 MZsheets. All rights reserved.</p>
</footer>