<footer class="component-page-footer">
    <div class="footer-container">
        <div class="footer-links">
            <a href="mzsheets.com/about">About</a> &bull;
            <a href="mzsheets.com/contact">Contact</a> &bull;
            <a href="mzsheets.com/about/privacy">Privacy Policy</a> &bull;
            <a href="mzsheets.com/about/terms">Terms and Conditions</a> &bull;
            <a href="mzsheets.com/help">Help</a> &bull;
            <a href="mzsheets.com/FAQ">FAQ</a>
        </div>
    </div>
    <p class="footer-copyright">&copy; 2025 MZsheets. All rights reserved.</p>
</footer>