<div class="component-item-card-hf">
    <div class="item-card-content-container" target="_self" href="https://mzsheets.com/error/?error-code=404">
        <div class="item-card-image-container">
            <img class="item-card-image" loading="lazy" alt="Item Image">
        </div>
        <div class="item-card-details">
            <h3 class="item-card-title">Item Title</h3>
            <div class="item-card-stats">
                <p class="item-card-price">Item Price</p>
                <p class="item-card-seller">Item Seller</p>
                <p class="item-card-platform">Item Platform</p>
            </div>
        </div>
    </div>
</div>