<div class="component-item-card">
    <div class="item-card-content-container" target="_self" href="https://mzsheets.com/error/?error-code=404">
        <div class="item-card-wishlist-icon-container">
            <img class="item-card-wishlist-icon" src="https://mzsheets.com/data/assets/star.png" alt="Wishlist">
        </div>
        <div class="item-card-image-container">
            <img class="item-card-image" alt="Item Image">
        </div>
        <div class="item-card-details">
            <h3 class="item-card-title">Item Title</h3>
            <p class="item-card-price">Item Price</p>
        </div>
    </div>
</div>