<nav class="component-page-navbar">
    <div class="navbar-container">
        <a class="navbar-title" href="https://mzsheets.com/home">MZSHEETS</a>
        <form id="search-form">
            <input type="text" spellcheck="false" placeholder="Search..." id="navbar-search-input">
        </form>
        <ul>
            <li><a
                class="navbar-item"
                href="https://cnfans.com/register?ref=3260913"
                >Register</a>
            </li>
            <li><a
                class="navbar-item"
                href="https://mzsheets.com/items"
                >Items</a>
            </li>
            <li class="navbar-search-icon">
                <a
                class="navbar-item"
                onclick="const sDisplayMode=document.querySelector('.navbar-m-search-dropdown-container').style.display;document.querySelector('.navbar-m-search-dropdown-container').style.display=sDisplayMode==='block'?'none':'block';"
                ><div class="navbar-icon-normal-container"><img class="navbar-icon-normal" src="https://mzsheets.com/data/assets/magnifying-glass.png" alt="Search"></div></a>
            </li>
            <li><a
                class="navbar-item"
                href="https://mzsheets.com/wishlist"
                ><div class="navbar-icon-normal-container"><img class="navbar-icon-normal" src="https://mzsheets.com/data/assets/star.png" alt="Wishlist"></div></a>
            </li>
        </ul>
    </div>
    <div
    <div class="navbar-m-search-dropdown-container">
        <form id="search-form-m">
            <input type="text" spellcheck="false" placeholder="Search..." id="navbar-m-search-input" class="navbar-m-search-input">
        </form>
    </div>
</nav>